<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        {% if not current_user.is_anonymous %}
            <div class="pure-menu pure-menu-horizontal" style="text-align: right">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a href="{{ url_for('wallet.wallets_list')}}" class="pure-menu-link">Wallets</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="{{ url_for('statistics.statistics')}}" class="pure-menu-link">Statistics</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="{{ url_for('user.settings')}}" class="pure-menu-link">{{ current_user.email }}</a>
                    </li>
                </ul>
            </div>
        {% endif %}
        <div class="pure-g">
            <div class="pure-u-2-5"></div>
            <div class="pure-u-1-5">

                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      <div class="flash success">{{ message }}</div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="pure-g">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
