{% extends 'base.html' %}


{% block body %}
    <div class="{% block wrapper_class_empty %}pure-u-2-5{% endblock %}"></div>
    <div class="{% block wrapper_class_container %}pure-u-1-5{% endblock %}">
        {% block pre_form %}{% endblock %}
        <form class="pure-form pure-form-stacked" method="POST">
            <fieldset>
                <legend>{% block form_title %}{% endblock %}</legend>
                {% for field in form %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                    {{ field.label }}
                    {{ field }}
                {% endfor %}
                {% block extra_form_data %}{% endblock %}
                <button type="submit" class="pure-button pure-button-primary">{% block submit_text %}{% endblock %}</button>
            </fieldset>
        </form>
        {% block post_form %}{% endblock %}
    </div>
{% endblock %}
