.flash {
    padding: 5px;
    margin: 5px 5px 5px 0;
}

.flash.success {
    background-color: lightgreen;
}

.extra_form_item {
    margin-top: 5px;
    margin-bottom: 5px;
}

a.wallet {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: lightblue;
    text-decoration: none;
    color: black;
}
